{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/img-queen/members/{{ imagebw }}"  alt="" class="img-fluid">
      </div>
      <div class="col-sm-8">
          <h3>{{ name }}</h3>
          <h2> </h2>
          <h4>{{instruments}}</h4>
          <h6>{{birthplace}}</h6>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}