.jumbotron.banner {
    background: url(../img/img-queen/queen-logo-white.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 18rem
  }
  
  .jumbotron {
    margin-bottom: 25px;
  }