.jumbotron.banner {
    background: url(../img/img-queen/queen-band-wallpaper.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 25rem
  }
  
  .jumbotron {
    margin-bottom: 20px;
  }